/* Give your page a fun background color */
/* Make the header and footer a different color from the background */
/* Align the h1 containing your name in the center of the header*/
/* Make your p tag a different color and italic */
/* Put a border around your image */
/* Change the font-family of your list */

html{
  background-color: #393e46;
  font-family: Georgia;
  color: #ffe6ab ;
}

h1{
  border-radius: 20px;
  background-color: #222831;
  text-align: center;
  padding: 10px;
}

img{
  float: left;
  margin-right: 60px;
  border: 8px solid white;
  border-radius: 5px;
  box-shadow: 3px 5px 10px black;
  width: 350px;
}

li{
  font-family: Helvetica;
  line-height: 1.4;
}

p{
  color: #ffd369;
  font-style: italic;
  line-height: 1.6;
  padding-right: 10px;
}

footer{
  border-radius: 20px;
  background-color: #222831;
  text-align: right;
  padding-top: 3px;
  padding-bottom: 3px;
}
